# select the chain of the network
#chain=live
chain = "test"

# specify the port to run Bitmark trade service
port = 8080

# all logs and db files are relative to this directory
datadir = "/var/lib/bitmark"
